body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main-container{
  height: 100vh;
}
.card {
  background-color: lightgray  !important;
}
.movie-title{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}  
.movie-title:hover{
  word-break: break-word;
  display: block;
}
img{
  max-height: 450px
}
@media only screen and (min-width: 1200px) {
  img {
    height: 420px;
  }
}
@media only screen and (min-width: 992px) {
  img {
    height: 430px;
  }
}
